name: Build and Package Windows

on:
  push:
    paths-ignore:
      - '**.md'
  pull_request:
    paths-ignore:
      - '**.md'

env:
  OF_VER: 0.11.2
  OF_NAME: of_v0.11.2_vs2017_release
  OF_ROOT: ${{ github.workspace }}\of_v0.11.2_vs2017_release
  ISCC_PATH: "C:\\Program Files (x86)\\Inno Setup 6\\ISCC.exe"

jobs:
  build-windows:
    runs-on: windows-latest
    
    steps:
    - name: Checkout ofxEmotiBit
      uses: actions/checkout@v4
      with:
        path: ofxEmotiBit

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1.1

    - name: Download and Setup OpenFrameworks
      run: |
        echo "Downloading OpenFrameworks..."
        Invoke-WebRequest -Uri "https://github.com/openframeworks/openFrameworks/releases/download/${{ env.OF_VER }}/${{ env.OF_NAME }}.zip" -OutFile "of.zip"
        
        echo "Extracting OpenFrameworks..."
        Expand-Archive -Path "of.zip" -DestinationPath . -Force
        
        echo "of.zip extracted"
      shell: powershell

    - name: Install Addons
      working-directory: ${{ env.OF_ROOT }}/addons
      run: |
        git clone https://github.com/bakercp/ofxNetworkUtils.git
        cd ofxNetworkUtils
        git checkout stable
        cd ..
        
        git clone https://github.com/produceconsumerobot/ofxOscilloscope.git
        git clone https://github.com/produceconsumerobot/ofxThreadedLogger.git
        git clone https://github.com/smukkejohan/ofxBiquadFilter.git
        git clone https://github.com/jeffcrouse/ofxJSON.git
        git clone https://github.com/EmotiBit/EmotiBit_XPlat_Utils.git
        git clone https://github.com/EmotiBit/ofxLSL.git
        
        git clone https://github.com/EmotiBit/ofxSerial.git
        cd ofxSerial
        git checkout stable
        cd ..
        
        git clone https://github.com/bakercp/ofxIO.git
        cd ofxIO
        git checkout stable
        cd ..
        
        # Move our checked out repo into addons
        Move-Item -Path "${{ github.workspace }}\ofxEmotiBit" -Destination "."
      shell: powershell

    - name: Build EmotiBitOscilloscope
      working-directory: ${{ env.OF_ROOT }}/addons/ofxEmotiBit/EmotiBitOscilloscope
      run: |
        msbuild EmotiBitOscilloscope.sln /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v143

    - name: Build EmotiBitDataParser
      working-directory: ${{ env.OF_ROOT }}/addons/ofxEmotiBit/EmotiBitDataParser
      run: |
        msbuild EmotiBitDataParser.sln /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v143

    - name: Build EmotiBitFirmwareInstaller
      working-directory: ${{ env.OF_ROOT }}/addons/ofxEmotiBit/EmotiBitFirmwareInstaller
      run: |
        msbuild EmotiBitFirmwareInstaller.sln /p:Configuration=Release /p:Platform=x64 /p:PlatformToolset=v143

    # Packaging Steps
    - name: Setup Inno Setup
      run: |
        $innoUrl = "https://files.jrsoftware.org/is/6/innosetup-6.3.3.exe"
        $innoInstaller = "innosetup-installer.exe"
        Invoke-WebRequest -Uri $innoUrl -OutFile $innoInstaller
        Start-Process -FilePath $innoInstaller -Args "/VERYSILENT /SUPPRESSMSGBOXES /NORESTART /SP-" -Wait
      shell: powershell

    - name: Download VC++ Redistributable
      working-directory: ${{ env.OF_ROOT }}/addons/ofxEmotiBit/EmotiBitInstaller
      run: |
        New-Item -ItemType Directory -Force -Path "redist"
        Invoke-WebRequest -Uri "https://aka.ms/vs/17/release/vc_redist.x64.exe" -OutFile "redist\vc_redist.x64.exe"
      shell: powershell

    - name: Build Installer
      working-directory: ${{ env.OF_ROOT }}/addons/ofxEmotiBit/EmotiBitInstaller
      run: |
        & "${{ env.ISCC_PATH }}" EmotiBitInstaller.iss
      shell: powershell

    - name: Get Version
      id: get_version
      working-directory: ${{ env.OF_ROOT }}/addons/ofxEmotiBit
      run: |
        $versionLine = Select-String -Path "./src/ofxEmotiBitVersion.h" -Pattern "string ofxEmotiBitVersion"
        $version = $versionLine.Line.Split('"')[1]
        echo "version=$version" >> $env:GITHUB_OUTPUT
      shell: powershell

    - name: Upload Installer Artifact
      uses: actions/upload-artifact@v4
      with:
        name: EmotiBitSoftware-Windows-${{ steps.get_version.outputs.version }}
        path: ${{ env.OF_ROOT }}/addons/ofxEmotiBit/EmotiBitInstaller/Output/*.exe